.Container .nav_bar{
    height:50px;
    width: 100%;
    background-color: #acac14;
    z-index: 1000;
    /* position: sticky; */
    top: 0px;
    /* justify-content: space-between; */
}
.Container .nav_bar ul{ 
    font-size: 20px;
    display: inline-block;
    display: flex;
   padding: 10px;
    /* flex-direction: column; */

    /* align-items: center; */
    list-style: none;
    justify-content: space-between;
}