*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.container .nav_bar{
    height: auto;
    width:100%;
    background-color: rgb(203, 239, 239);
}
.container .nav_bar li{
    list-style: none;
    font-size: 18px;
    /* display: flex; */
    display: inline-block;
    justify-content: center;
    padding: 20px;

}
.container .nav_bar .logo{
    height: 40px;
    width:30px ;
    background-image: url('devBabu.png');
    background-position: center;
    background-repeat:no repeat;
    background-size: cover;
    margin-right: 250px;
    margin-left: 20px;
    
}
.container .nav_bar .s1:hover{
    color: #ffffff;
    transition: all 1s ease-in;
    transform: rotate(90deg);
}
.container .nav_bar .log{
    padding-right: 300px;
}